 <div class="panel panel-default">
    <div class="panel-heading">View Patient</div>
    <div class="panel-body" ng-controller="PatientsController">
    <div class="row">
		
		<label class="phone-label" >Phone Number:</label>
		<input type="text" class="form_control" ng-model="phoneNumber">
		<button class="btn btn-default" type="button" ng-click="searchpatient()">Search</button>
		</div>

        <form class="form-horizontal">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Patient Name</label>
         		<label class="col-sm-2 control-label">{{patient.name}}</label>
            </div>
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">UserName</label>
                <label class="col-sm-2 control-label">{{patient.userName}}</label>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email Address</label>
                <label class="col-sm-2 control-label">{{patient.email}}</label>
            </div>
            <div class="form-group">
                <label for="phone" class="col-sm-2 control-label">Phone Number</label>
         		<label class="col-sm-2 control-label">{{patient.phoneNumber}}</label>
            </div>
            <div class="form-group">
                <label for="country" class="col-sm-2 control-label">Country</label>
         		<label class="col-sm-2 control-label">{{patient.country}}</label>
            </div>
            <div class="form-group">
                <label for="town" class="col-sm-2 control-label">Town</label>
                <label class="col-sm-2 control-label">{{patient.town}}</label>
                
            </div>
           
            <div class="form-group">
                <label for="date" class="col-sm-2 control-label">Registration Day</label>
                <label class="col-sm-2 control-label">{{patient.registrationDate}}</label>
                
            </div>
                        
        </form>
        <p/>
    </div>