<div class="panel panel-default">
	<div class="panel-heading">List of IllPatients</div>
	<div class="panel-body">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Phone Number</th>
					<th>Email</th>
					<th>Password</th>
					<th>Country</th>
					<th>Town</th>
					<th>Contact Mode</th>
					<th>Registration Day</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="illpatient in illpatients">
					<td>{{illpatient.name}}</td>
					<td>{{illpatient.phone}}</td>
					<td>{{illpatient.email}}</td>
					<td>{{illpatient.password}}</td>
					<td>{{illpatient.country}}</td>
					<td>{{illpatient.town}}</td>
					<td>{{illpatient.contact_mode}}</td>
					<td>{{illpatient.registration_day}}</td>
					<td>{{illpatient.status}}</td>
				</tr>
				
			</tbody>
		</table>
				
		<a class="btn btn-default" href="#/illpatients/create">Add New IllPatient</a>
		<a class="btn btn-default" href="#/illpatients/show">Search A Patient</a>				
	</div>
</div>
