<div class="panel panel-default">
	<div class="panel-heading">TEMPERATURE FOR PATIENTS</div>
	<div class="panel-body">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Username</th>
					<th>Phone Number</th>
					<th>Temperature</th>
					<th>Date Taken</th>
					<th>Time</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="temp in temperature">
					
					<td>{{temp.username}}</td>
					<td>{{temp.phone}}</td>
					<td>{{temp.temp}}</td>
					<td>{{temp.date_taken}}</td>
					<td>{{temp._timeRes}}</td>
				</tr>
			</tbody>
		</table>
		<a type="button" class="btn btn-default" href="#/temperature/create">
		Add a Temperature For Patient.
	</a>
	<a type="button" class="btn btn-default" href="#/temperature/line_chart">
		View Tempearature Progression
	</a>
	</div>
</div>
