  <div class="panel panel-default">
    <div class="panel-heading">Create Symptom</div>
    <div class="panel-body" ng-controller="CreateSymptomController">

        <form class="form-horizontal" >
            <div class="form-group">
                <label for="symptomname" class="col-sm-2 control-label">Symptom Name</label>
                <input id="symptomname" type="text" ng-model="symptomname"></input>
            </div>
            <div class="form-group">
                <label for="symptomdate" class="col-sm-2 control-label">Date</label>
                <input id="symptomdate" type="text" ng-model="date"></input>
            </div>
            
            <button class="btn btn-default" ng-click="setSymptom()">
                Save
            </button>
        </form>
    </div>
</div>