<div class="panel panel-default">
	<div class="panel-heading">List All Patient Messages </div>
	<div class="panel-body">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>PhoneNumber</th>
					<th>UserName</th>
					<th>Content</th>
					<th>Date Created</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="msg in messages">
					
					<td>{{msg.phone}}</td>
					<td>{{msg.username}}</td>
					<td>{{msg.content}}</td>
					<td>{{msg.date_created}}</td>
					
				</tr>
			</tbody>
		</table>
	</div>
</div>
