<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>Find Location</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
</head>
<body>

<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">Location Detail</div>
  <div class="panel-body">
    <form class="form-horizontal" role="form" th:object="${location}">
    <table class="table table-striped" style="width:600px;">
    
    	<tr>
            <th>Id</th>
            <td><b th:text="${location.id}">[Id]</b></td>
        </tr>
        <tr>
            <th>Country</th>
            <td><b th:text="${location.country}">[country]</b></td>
        </tr>
        <tr>
            <th>Town</th>
            <td th:text="${location.town}">[town]</td>
        </tr>
        
         <tr>
            <td> 
            	<a th:href="@{/location/form}" class="btn btn-success">Add New Location</a></td>
            <td>
            	<a th:href="@{'/location/'+${location.id}+'/form'}" class="btn btn-info">Edit Location</a>
          	</td>
        </tr>
    </table>
    </form>
    </div>
    </div>
</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>